#!/usr/bin/env nextflow

// Specify input sample data
params.assemblies = "${HOME}/metaBenchmarks/data/cami/*/assembly/*.filtered.fna"
params.references = "${HOME}/metaBenchmarks/data/cami/*/ground_truth/*.binning"
// Databases
params.autometa_db = "${HOME}/metaBenchmarks/data/cami/databases"
// Runtime parameters
params.cpus = 40
// Specify output location/filetype
params.outdir = "nf-taxon-binning-benchmarking-results"
params.publish_dir_mode = "symlink"
