// Nextflow Autometa taxon binning benchmarking
/*
To choose one of the available profiles (standard, slurm, chtc) you must pass
in the the -profile argument. 
i.e. 

```bash
nextflow run main.nf -profile slurm -c parameters.config
```

You may also specify multiple profiles by separating their names with a comma.
i.e.

```bash
nextflow run main.nf -profile standard,slurm -c parameters.config
```

Note: Standard profile is implicitly used if no profile is specified by the user.
*/

executor {
    // Number of jobs for executor submit at a time
    queueSize = 7
}

profiles {
  standard {
    process.executor = "local"
  }
  slurm {
    process.executor = "slurm"
    // Set SLURM partition with queue directive.
    process.queue = "queue"
    process.memory = '64G'
    process.cpus = 10
    // See https://www.nextflow.io/docs/latest/executor.html#slurm for details.
  }
}

docker {
  // See: https://www.nextflow.io/docs/latest/config.html#config-docker for more info.
  enabled = true
  fixOwnership = true
}
timeline {
  enabled = true
  file = "pipeline_info/taxon_binning_benchmarks_timeline.html"
}
report {
  enabled = true
  file = "pipeline_info/taxon_binning_benchmarks_report.html"
}
trace {
  enabled = true
  file = "pipeline_info/taxon_binning_benchmarks_trace.txt"
}
dag {
  enabled = true
  file = "pipeline_info/taxon_binning_benchmarks_dag.dot"
}

manifest {
    author = "KwanLab"
    defaultBranch = "main"
    name = "taxon_binning_benchmarks"
    homePage = "https://github.com/KwanLab/metaBenchmarks"
    description = "Autometa taxon binning benchmarking"
    mainScript = "main.nf"
    version = "0.1.0"
}
