#!/usr/bin/env nextflow

// Data
params.assemblies = "${HOME}/metaBenchmarks/data/assemblies/simulated/*/*filtered.fna"
params.references = "${HOME}/metaBenchmarks/data/assemblies/simulated/*/*_assignments.tsv.gz"

// Databases
params.autometa_db = "${HOME}/metaBenchmarks/data/databases/ncbi"
// NOTE: Looks for ${mmseqs2_db}/mmseqs2_NR in template 
// Also requires other files in dir where mmseqs2_NR was generated
params.mmseqs2_db="${HOME}/metaBenchmarks/data/databases/mmseqs2"
params.kraken2_db="${HOME}/metaBenchmarks/data/databases/kraken2/kraken2_db"
params.diamond_db="${HOME}/metaBenchmarks/data/databases/ncbi/nr_with_taxonomy.dmnd"

// Runtime parameters
params.cpus = 40

// Specify output
params.outdir = "nf-taxon-binning-benchmarking-results"
params.publish_dir_mode = "symlink"