.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
pipeline_info
# Slurm
*.out
*.err
*.log
# When using Autometa processes within nf workflow
Autometa
# data file extensions
*.tsv
*.tsv.gz
*_labels.txt
*_binnings.txt
*.binning