/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
----------------------------------------------------------------------------------------
*/


process {
    // Write everything out to directories named after the workflow/process
    publishDir = [
        path: { "${params.single_outdir}/${task.process.tokenize(':').toLowerCase().join("/")}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
            ext.args   = "--quiet"
    }
    withName: MULTIQC {
    }
    withName: AUTOMETA_V1_BINNING {
            ext.args   = "--length_cutoff 3000"
    }
    withName: AUTOMETA_V1_CALCULATE_READ_COVERAGE {
            ext.args   = ""
    }
    withName: AUTOMETA_V1_UNCLUSTERED_RECRUITMENT {
            ext.args   = ""
    }
    withName: AUTOMETA_V1_MAKE_TAXONOMY_TABLE {
            ext.args   = "--length_cutoff 3000"
    }
    withName: MYCC {
            ext.args   = "-t 3000 -meta"
    }
}
