#!/usr/bin/env nextflow

// Data
// Assemblies and Reference assignments
params.assemblies = "${HOME}/metaBenchmarks/data/assemblies/simulated/*/*filtered.fna"
params.references = "${HOME}/metaBenchmarks/data/assemblies/simulated/*/*_assignments.tsv.gz"
// Reads
params.fwd_reads = "${HOME}/metaBenchmarks/data/reads/simulated/*/forward_reads.fastq.gz"
params.rev_reads = "${HOME}/metaBenchmarks/data/reads/simulated/*/reverse_reads.fastq.gz"

// Databases
params.autometa_db = "${HOME}/metaBenchmarks/data/databases/ncbi"

// Runtime parameters
params.cpus = 10
// Where coverage calculations will be placed...
params.outdir = "simulated_coverages"
params.publish_dir_mode = "symlink"
params.enable_conda = false
params.autometa_image_tag = "2.1.0"
